{% extends "index.html" %} {% block title %}About{% endblock %} {% block content %}

<div class="o-hidden" data-overlay>
    <section class="pb-0">
        <div class="container">
            <div class="row align-items-center justify-content-center justify-content-lg-between text-center text-lg-left">
                <div class="col-md-9 col-lg-6 col-xl-5 pl-lg-5 pl-xl-0 order-lg-2" data-aos="fade-left" data-aos-delay="250">
                    <h1 class="display-3">A small (<mark data-aos="highlight-text" data-aos-delay="500">smart</mark>) team.
                    </h1>
                    <p class="lead">
                        Our team has worked at top tech companies and in the political sector. We know the power of tech.
                    </p>
                    <a href="#team" class="lead">Meet the crew</a>
                </div>
                <div class="col-md-8 col-lg-6 mt-4 mt-md-5 mt-lg-0 order-lg-1" data-aos="fade-right">
                    <img src="assets/img/pundit_team_DC.JPG" alt="Image" class="rounded img-fluid shadow-lg">
                </div>
            </div>
        </div>
        <div class="position-absolute w-50 h-100 top right" data-jarallax-element="50">
            <div class="blob bg-primary opacity-20 w-100 h-100 top left"></div>
        </div>
        <div class="divider divider-bottom bg-primary-3"></div>
    </section>
</div>
<section class="bg-primary-3 text-white">
    <div class="container">
        <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
                <h3 class="display-4">What we’re about</h3>
                <div class="lead">We believe that political-tech is one of the most untapped industries today. We want to be the ones to ignite the digital revolution in politics and government.</div>
            </div>
        </div>
    </div>
    <div class="o-hidden">
        <div class="highlight-selected" data-flickity='{ "imagesLoaded": true, "wrapAround":true }'>
            <div class="carousel-cell text-center col-9 col-md-7 col-lg-5">
                <img class="img-fluid rounded" src="assets/img/vik_glenn.jpg" alt="blog.3.image">
            </div>
            <div class="carousel-cell text-center col-9 col-md-7 col-lg-5">
                <img class="img-fluid rounded" src="assets/img/pundit_flyer.jpg" alt="blog.4.image">
            </div>
            <div class="carousel-cell text-center col-9 col-md-7 col-lg-5">
                <img class="img-fluid rounded" src="assets/img/bloomberg_party.jpg" alt="blog.5.image">
            </div>
            <div class="carousel-cell text-center col-9 col-md-7 col-lg-5">
                <img class="img-fluid rounded" src="assets/img/debate_party.jpg" alt="blog.6.image">
            </div>
            <div class="carousel-cell text-center col-9 col-md-7 col-lg-5">
                <img class="img-fluid rounded" src="assets/img/pitch.jpg" alt="blog.7.image">
            </div>

        </div>
    </div>
</section>
<section id="team">
    <div class="container">
        <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
                <h3 class="display-4">Our Team</h3>
                <div class="lead">We work smaller but harder. Leveraging A.I., the services we build have no bounds.
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-11">
                <div class="row">
                    <div class="col-sm-6 col-md-4 text-center mb-5">
                        <div class="d-flex flex-column align-items-center">
                            <img src="assets/img/avatars/glenn_pfp.jpg" alt="Glenn Parham profile image" class="avatar avatar-xl mb-4">
                            <h5 class="mb-2">Glenn Parham</h5>
                            <div class="mb-3">Co-Founder & CEO</div>
                            <ul class="list-unstyled d-flex mb-0">
                                <li class="mx-2">
                                    <a href="https://www.glennparham.com" class="hover-fade-out">
                                        <img src="assets/img/icons/social/dribbble.svg" alt="Dribbble" class="icon icon-xs" data-inject-svg>
                                    </a>
                                </li>
                                <li class="mx-2">
                                    <a href="https://twitter.com/GlennAdamParham" class="hover-fade-out">
                                        <img src="assets/img/icons/social/twitter.svg" alt="Twitter" class="icon icon-xs" data-inject-svg>
                                    </a>
                                </li>
                                <li class="mx-2">
                                    <a href="https://github.com/glennparham?tab=repositories" class="hover-fade-out">
                                        <img src="assets/img/icons/social/github.svg" alt="Github" class="icon icon-xs" data-inject-svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 text-center mb-5">
                        <div class="d-flex flex-column align-items-center">
                            <img src="assets/img/avatars/vikram_pfp.jpeg" alt="Vikram Jayanthi profile image" class="avatar avatar-xl mb-4">
                            <h5 class="mb-2">Vikram Jayanthi</h5>
                            <div class="mb-3">Co-Founder & CTO</div>

                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 text-center mb-5">
                        <div class="d-flex flex-column align-items-center">
                            <img src="assets/img/avatars/rachel_pfp.jpeg" alt="Michael Trossino profile image" class="avatar avatar-xl mb-4">
                            <h5 class="mb-2">Rachel Wang</h5>
                            <div class="mb-3">Co-Founder & CPO</div>

                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
</section>


{% endblock %}