{% extends "index.html" %} {% block title %}Demo{% endblock %} {% block content %}
<section class="pb-0">
    <div class="container">
        <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
                <h3 class="display-4">How it Works</h3>
                <div class="lead">Get intel on your opponents in seconds.</div>
            </div>
        </div>
        <div class="row justify-content-center text-center mt-md-n4">
            <div class="col-auto">
                <a href="/sign_up" class="btn btn-primary btn-lg">Sign Up</a>
            </div>
        </div>
    </div>
</section>
<section class="pb-0">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
                <div class="card h-100 hover-box-shadow">
                    <div class="d-block bg-gradient rounded-top">
                        <img class="card-img-top hover-fade-out" src="assets/img/case-studies/thumb-5.jpg" alt="Image accompanying Treva testimonial">
                        <div class="badge badge-light badge-pill">
                            <img src="assets/img/thee_pics/dashboard.png" alt="Treva company logo" class="icon icon-sm m-lg-1">
                        </div>
                    </div>
                    <div class="card-body">
                        <h3>Treva</h3>
                        <p>
                            Consectetur libero imp faucibus nisl tincidunt. Sansa tellus mauris a diam maecenas sed.
                        </p>
                        <a href="#" class="stretched-link">Read Story</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
                <div class="card h-100 hover-box-shadow">
                    <div class="d-block bg-gradient rounded-top">
                        <img class="card-img-top hover-fade-out" src="assets/img/case-studies/thumb-6.jpg" alt="Image accompanying Ztos testimonial">
                        <div class="badge badge-light badge-pill">
                            <img src="assets/img/logos/brand/ztos.svg" alt="Ztos company logo" class="icon icon-sm m-lg-1">
                        </div>
                    </div>
                    <div class="card-body">
                        <h3>Ztos</h3>
                        <p>
                            Sed arcu Jon odio Oberyn lacinia at quis. Brienne fermentum vel porta Jon pulvinar neque.
                        </p>
                        <a href="#" class="stretched-link">Read Story</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
                <div class="card h-100 hover-box-shadow">
                    <div class="d-block bg-gradient rounded-top">
                        <img class="card-img-top hover-fade-out" src="assets/img/case-studies/thumb-7.jpg" alt="Image accompanying Utosia testimonial">
                        <div class="badge badge-light badge-pill">
                            <img src="assets/img/logos/brand/utosia.svg" alt="Utosia company logo" class="icon icon-sm m-lg-1">
                        </div>
                    </div>
                    <div class="card-body">
                        <h3>Utosia</h3>
                        <p>
                            Podrick in massa tempor nec feugiat nisl pretium. Consectetur imp faucibus nisl tincidunt.
                        </p>
                        <a href="#" class="stretched-link">Read Story</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
                <div class="card h-100 hover-box-shadow">
                    <div class="d-block bg-gradient rounded-top">
                        <img class="card-img-top hover-fade-out" src="assets/img/case-studies/thumb-8.jpg" alt="Image accompanying Asgardia testimonial">
                        <div class="badge badge-light badge-pill">
                            <img src="assets/img/logos/brand/ztos.svg" alt="Ztos company logo" class="icon icon-sm m-lg-1">
                        </div>
                    </div>
                    <div class="card-body">
                        <h3>Ztos</h3>
                        <p>
                            Samwell nisl purus in mollis. Varys eget velit aliquet sagittis consectetur purus ut.
                        </p>
                        <a href="#" class="stretched-link">Read Story</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
                <div class="card h-100 hover-box-shadow">
                    <div class="d-block bg-gradient rounded-top">
                        <img class="card-img-top hover-fade-out" src="assets/img/case-studies/thumb-3.jpg" alt="Image accompanying Kyan testimonial">
                        <div class="badge badge-light badge-pill">
                            <img src="assets/img/logos/brand/kyan.svg" alt="Kyan company logo" class="icon icon-sm m-lg-1">
                        </div>
                    </div>
                    <div class="card-body">
                        <h3>Kyan</h3>
                        <p>
                            Samwell nisl purus in mollis. Varys eget velit aliquet sagittis consectetur purus ut.
                        </p>
                        <a href="#" class="stretched-link">Read Story</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
                <div class="card h-100 hover-box-shadow">
                    <div class="d-block bg-gradient rounded-top">
                        <img class="card-img-top hover-fade-out" src="assets/img/case-studies/thumb-10.jpg" alt="Image accompanying Fox Hub testimonial">
                        <div class="badge badge-light badge-pill">
                            <img src="assets/img/logos/brand/goldline.svg" alt="Goldline company logo" class="icon icon-sm m-lg-1">
                        </div>
                    </div>
                    <div class="card-body">
                        <h3>Goldline</h3>
                        <p>
                            Samwell nisl purus in mollis. Varys eget velit aliquet sagittis consectetur purus ut.
                        </p>
                        <a href="#" class="stretched-link">Read Story</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}