{% extends "index.html" %} {% block title %}Home{% endblock %} {% block content %}

<section class="bg-primary-3 text-white pb-0 o-hidden">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-xl-5 col-lg-6 text-center text-lg-left mb-4 mb-md-5 mb-lg-0" data-aos="fade-right">
                <h1 class="display-3">Competitive Intelligence</h1>
                <p class="lead">Pundit automates competitive intelligence so you're always ahead.</p>
                <a style="color:white" href="/sign_up" class="btn btn-lg btn-success">Track Your Political Targets
                    Now</a>

            </div>
            <div class="col" data-aos="fade-left" data-aos-delay="250">
                <img src="https://www.akamai.com/us/en/multimedia/images/intro/2018/big-data-connector-intro.jpg?imwidth=1366" alt="Screenshot" class="img-fluid rounded shadow-lg border">
            </div>
        </div>
    </div>
    <!-- <div class="w-50 h-50 bottom right position-absolute" data-jarallax-element="50">
        <div class="blob blob-2 bg-gradient w-100 h-100"></div>
    </div>
    
    <div class="w-50 h-50 bottom right position-absolute" data-jarallax-element="75">
        <div class="blob blob-4 bg-white opacity-10 w-100 h-100"></div>
    </div> -->
    <div class="divider divider-bottom bg-white"></div>
</section>
<section class="o-hidden" id="features">
    <div class="container">
        <div class="row align-items-center justify-content-around">
            <div class="col-md-9 col-lg-6 col-xl-5 mb-4 mb-lg-0 order-lg-2 pl-lg-5 pl-xl-0">
                <div>
                    <h2 class="h1 text-center text-lg-left">Sit back and relax. Pundit will handle the hard stuff.
                    </h2>
                    <div class="d-flex flex-wrap justify-content-center justify-content-lg-start">
                        <div class="my-4">
                            <div class="d-flex">
                                <div class="mr-3 mr-md-4">
                                    <img src="assets/img/icons/theme/navigation/route.svg" alt="Binoculars icon" class="icon bg-primary" data-inject-svg>
                                </div>
                                <div>
                                    <h5>Track Opponents</h5>
                                    <div>
                                        Pundit keeps tabs on your all of your political opponents' activities.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-4">
                            <div class="d-flex">
                                <div class="mr-3 mr-md-4">
                                    <img src="assets/img/icons/theme/code/spy.svg" alt="Layouts icon" class="icon bg-primary" data-inject-svg>
                                </div>
                                <div>
                                    <h5>Search Through Intel</h5>
                                    <div>
                                        We have critical & real-time intel on each political target, and you have access to all of it.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-4">
                            <div class="d-flex">
                                <div class="mr-3 mr-md-4">
                                    <img src="assets/img/icons/theme/devices/diagnostics.svg" alt="Layouts icon" class="icon bg-primary" data-inject-svg>
                                </div>
                                <div>
                                    <h5>Act on Intel</h5>
                                    <div>Our intel gives granular insight into a political target's strategy. Use it to make split-second decisions in your own organization to further your own political objectives.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-lg-6 col-xl-5 order-lg-1">
                <img src="assets/img/dc.png" alt="Image" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<!-- <section class="bg-light o-hidden">
        <div class="container">
          <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
              <h3 class="display-4">Feature Showcase</h3>
              <div class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</div>
            </div>
          </div>
       
        </div>
      </section> -->
<section class="bg-primary-3 text-white jarallax" data-jarallax data-speed="0.75">
    <img src="assets/img/us_capitol.jpg" alt="Hero" class="jarallax-img opacity-60">
    <div class="container min-vh-40 d-flex flex-column justify-content-center">
        <div class="row justify-content-center text-center text-sm-left">
            <div class="col d-flex flex-column flex-sm-row justify-content-center align-items-center">

                <div class="h1 mb-0 mt-4 mt-sm-0 ml-sm-4" data-aos="fade-up">We're like Crunchbase, but for politics.
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
                <h3 class="display-4">What We Track</h3>
                <div class="lead">Pundit Analytics constantly crawls the internet looking for the latest intel on your target.
                </div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-6 col-lg-4 mb-4 mb-md-5" data-aos="fade-up" data-aos-delay="100">
                <div class="mx-xl-4">
                    <img src="assets/img/logos/product/kyan.svg" alt="Kyan logo" class="mb-4">
                    <h5>Website Changes</h5>
                    <p>
                        We monitor all website changes made by your target, and we show you all important additions and redactions.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-md-5" data-aos="fade-up" data-aos-delay="200">
                <div class="mx-xl-4">
                    <img src="assets/img/logos/product/atica.svg" alt="Atica logo" class="mb-4">
                    <h5>Political Ads</h5>
                    <p>
                        We constantly look for your target's political ads on Facebook & Google. When we find one, we'll tell you how much they're spending on it, the targeted age group, and other granular stats.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-md-5" data-aos="fade-up" data-aos-delay="300">
                <div class="mx-xl-4">
                    <img src="assets/img/logos/product/treva.svg" alt="Treva logo" class="mb-4">
                    <h5>Emails</h5>
                    <p>
                        We keep a searchable record of all emails that your target is sending to supporters.
                    </p>
                </div>
            </div>
            <!-- <div class="col-md-6 col-lg-4 mb-4 mb-md-5" data-aos="fade-up" data-aos-delay="400">
                <div class="mx-xl-4">
                    <img src="assets/img/logos/product/kanba.svg" alt="Kanba logo" class="mb-4">
                    <h5>Video Transcripts</h5>
                    <p>
                        We transcribe hundreds of hours of your target speaking. Instantly search and find a video clip of your target speaking about an issue.
                    </p>
                </div>
            </div> -->
            <div class="col-md-6 col-lg-4 mb-4 mb-md-5" data-aos="fade-up" data-aos-delay="500">
                <div class="mx-xl-4">
                    <img src="assets/img/logos/product/tvit.svg" alt="Tvit logo" class="mb-4">
                    <h5>Social Media</h5>
                    <p>
                        We track every Tweet and Facebook post your target has ever made. We also know everytime your political targets delete a tweet.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-md-5" data-aos="fade-up" data-aos-delay="600">
                <div class="mx-xl-4">
                    <img src="assets/img/logos/product/aven.svg" alt="Aven logo" class="mb-4">
                    <h5>Media Mentions</h5>
                    <p>
                        We crawl through hundreds of news sources to find mentions of your target in the media.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-md-5" data-aos="fade-up" data-aos-delay="600">
                <div class="mx-xl-4">
                    <img src="assets/img/logos/product/aven.svg" alt="Aven logo" class="mb-4">
                    <h5>FEC Data</h5>
                    <p>
                        We analyze the expenditures & contributions of political targets in combination with other data to extract influential members & entities.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-light o-hidden">
    <div class="container">
        <div class="row section-title justify-content-center text-center">
            <div class="col-md-12 col-lg-12 col-xl-7">
                <h3 class="display-4">Data. Doesn't. Lie.</h3>
                <div class="lead">Our intel is empirical and comes straight from political targets. We don't rely on circumstantial evidence, biased anecdotes, or rumors.
                </div>
            </div>
        </div>
        <div class="row  justify-content-center text-center">
            <div class="col-md-6 mb-3 mb-md-0">
                <blockquote class="twitter-tweet">
                    <p lang="en" dir="ltr">What’s so great about this stuff from <a href="https://twitter.com/PunditAnalytics?ref_src=twsrc%5Etfw">@PunditAnalytics</a> is that it’s not just “talking head” punditry, this is intel collected from the *campaigns* themselves!
                        <a href="https://twitter.com/hashtag/FITN?src=hash&amp;ref_src=twsrc%5Etfw">#FITN</a> <a href="https://twitter.com/hashtag/nhpolitics?src=hash&amp;ref_src=twsrc%5Etfw">#nhpolitics</a>
                        <a href="https://t.co/wH1uQVgEXd">pic.twitter.com/wH1uQVgEXd</a></p>&mdash; Dante Vitagliano (@DanteVitagliano) <a href="https://twitter.com/DanteVitagliano/status/1225961425291677696?ref_src=twsrc%5Etfw">February
                        8,
                        2020</a>
                </blockquote>
            </div>
        </div>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <!-- <div class="row  justify-content-center text-center">
            <div class="col-md-6 mb-3 mb-md-0">
                <div class="card card-body shadow-sm h-100">
                    <div class="display-4 text-primary mb-3" data-countup data-start="" data-end="200" data-duration="" data-decimal-places="" data-prefix="" data-separator="" data-grouping="" data-suffix=" +" data-easing=""></div>
                    <div>Target data points identified every minute</div>
                </div>
            </div>



        </div> -->
    </div>
</section>

<section class="bg-secondary pb-0">
    <div class="container">
        <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
                <h3 class="display-4">Exclusive & powerful intel. <br>Just <mark data-aos="highlight-text" data-aos-delay="250">$99/month</mark>.</h3>
                <div class="lead">With your subscription, you get full access to an entire real-time database of critical intel & analytics.</div>
            </div>
        </div>

    </div>
    <div class="divider divider-bottom bg-gradient"></div>
</section>
<section class="bg-gradient" id="pricing">
    <div class="container">
        <div class="text-white">
            <div class="row section-title justify-content-center text-center">
                <div class="col-md-9 col-lg-8 col-xl-7">
                    <h3 class="display-4">Pricing</h3>

                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">

            <div class="col-sm-9 col-md-7 col-lg-4 mb-3 mb-md-4 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
                <div class="card card-body align-items-center shadow">

                    <div class="text-center mb-4">
                        <h4>Pundit Analytics</h4>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <span class="h5 mb-0 mr-2">$</span>
                            <span class="display-3 mb-0 text-dark">99</span>
                        </div>
                        <div>Per month</div>
                    </div>

                    <a href="/sign_up" style="color:white;" class="btn btn-lg btn-block btn-primary">Sign Up</a>
                </div>
            </div>



        </div>


    </div>
</section>
<!-- <section class="p-0">
    <div class="divider divider-top bg-gradient transform-flip-x"></div>
    <div class="container">
        <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
                <h3 class="display-4">FAQ</h3>
                <div class="lead">The intersection of politics & artificial intelligence is scary to most. We strive to be completely transparent to our campaigns and American electorate.</div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <div id="faq-accordion">
                    <div class="card mb-2 mb-md-3">
                        <a href="#accordion-1" data-toggle="collapse" role="button" aria-expanded="false" class="p-3 p-md-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <h6 class="mb-0 mr-2">Can I upgrade later on?</h6>
                                <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right" class="icon icon-sm" data-inject-svg>
                            </div>
                        </a>
                        <div class="collapse" id="accordion-1" data-parent="#faq-accordion">
                            <div class="px-3 px-md-4 pb-3 pb-md-4">
                                Integer ut Oberyn massa. Sed feugiat vitae turpis a porta. Aliquam sagittis interdum Melisandre. Vivamus ornare pharetra diam sit amet tincidunt. Eunuch sit amet pharetra odio. Vivamus in tempor ipsum, sit amet elementum neque. Sed faucibus posuere pharetra.
                                In imperdiet eleifend dui a aliquet. Aliquam imperdiet Tyrion purus vitae rutrum. Donec eu commodo nunc. Mauris dignissim lectus massa, eget cursus quam mollis id. Eddard sit amet ex Jon nibh maximus cursus at vitae mi.
                                Duis tincidunt aliquam mi sed sagittis.

                            </div>
                        </div>
                    </div>
                    <div class="card mb-2 mb-md-3">
                        <a href="#accordion-2" data-toggle="collapse" role="button" aria-expanded="false" class="p-3 p-md-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <h6 class="mb-0 mr-2">Can I port my data from another provider?</h6>
                                <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right" class="icon icon-sm" data-inject-svg>
                            </div>
                        </a>
                        <div class="collapse" id="accordion-2" data-parent="#faq-accordion">
                            <div class="px-3 px-md-4 pb-3 pb-md-4">
                                Eunuch nec dapibus ex. Aenean placerat, ex imp convallis dictum, ex nulla rutrum justo, Jon lobortis nisi ex at leo. Sed Tyrion aliquet sem vel pharetra. Vestibulum ante ipsum primis in faucibus Hodor luctus et ultrices posuere cubilia Curae; Class aptent
                                taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis a sapien quis quam auctor feugiat. Donec volutpat condimentum risus, eu iaculis nibh dapibus eu.

                            </div>
                        </div>
                    </div>
                    <div class="card mb-2 mb-md-3">
                        <a href="#accordion-3" data-toggle="collapse" role="button" aria-expanded="false" class="p-3 p-md-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <h6 class="mb-0 mr-2">Are my food photos stored forever in the cloud?</h6>
                                <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right" class="icon icon-sm" data-inject-svg>
                            </div>
                        </a>
                        <div class="collapse" id="accordion-3" data-parent="#faq-accordion">
                            <div class="px-3 px-md-4 pb-3 pb-md-4">
                                Volantisi fringilla, unuch eu sagittis sagittis, urna Loras luctus odio, vitae hendrerit massa dui ac est. Donec leo tortor, Tyrion et aliquet at, convallis imp mi. Vivamus turpis diam, ultrices et tempus quis, sollicitudin et risus. Pellentesque nec
                                sapien imp dolor condimentum condimentum ut sed neque. Integer efficitur accumsan risus, vitae posuere massa aliquam at.

                            </div>
                        </div>
                    </div>
                    <div class="card mb-2 mb-md-3">
                        <a href="#accordion-4" data-toggle="collapse" role="button" aria-expanded="false" class="p-3 p-md-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <h6 class="mb-0 mr-2">Who foots the bill for that?</h6>
                                <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right" class="icon icon-sm" data-inject-svg>
                            </div>
                        </a>
                        <div class="collapse" id="accordion-4" data-parent="#faq-accordion">
                            <div class="px-3 px-md-4 pb-3 pb-md-4">
                                Khaleesi ornare pharetra diam sit amet tincidunt. Eunuch sit amet pharetra odio. Vivamus in tempor ipsum, sit amet elementum neque. Sed faucibus posuere pharetra. In imperdiet eleifend dui a aliquet. Aliquam imperdiet Tyrion purus vitae rutrum. Donec
                                eu commodo nunc. Vivamus Melisandre Jon lorem eget bibendum. Sed tincidunt sed enim at dignissim. Mauris erat diam, lacinia eget efficitur et, iaculis sed augue.

                            </div>
                        </div>
                    </div>
                    <div class="card mb-2 mb-md-3">
                        <a href="#accordion-5" data-toggle="collapse" role="button" aria-expanded="false" class="p-3 p-md-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <h6 class="mb-0 mr-2">What's the real cost?</h6>
                                <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right" class="icon icon-sm" data-inject-svg>
                            </div>
                        </a>
                        <div class="collapse" id="accordion-5" data-parent="#faq-accordion">
                            <div class="px-3 px-md-4 pb-3 pb-md-4">
                                Brienne ac maximus Loras, eu placerat odio. Etiam vestibulum Loras et sollicitudin pellentesque. Mauris sed Tyrion Varys. Curabitur posuere augue risus, eget mollis unuch consectetur quis. Vestibulum accumsan congue risus, in semper eros interdum id.
                                Tincidunt vitae libero efficitur viverra. Integer venenatis massa in dui viverra fermentum. Eunuch fringilla arcu ac urna sodales fermentum. Ut luctus enim ut sagittis consectetur.

                            </div>
                        </div>
                    </div>
                    <div class="card mb-2 mb-md-3">
                        <a href="#accordion-6" data-toggle="collapse" role="button" aria-expanded="false" class="p-3 p-md-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <h6 class="mb-0 mr-2">Can my company request a custom plan?</h6>
                                <img src="assets/img/icons/interface/icon-caret-right.svg" alt="Caret Right" class="icon icon-sm" data-inject-svg>
                            </div>
                        </a>
                        <div class="collapse" id="accordion-6" data-parent="#faq-accordion">
                            <div class="px-3 px-md-4 pb-3 pb-md-4">
                                Brienne ac maximus Loras, eu placerat odio. Etiam vestibulum Loras et sollicitudin pellentesque. Mauris sed Tyrion Varys. Curabitur posuere augue risus, eget mollis unuch consectetur quis. Vestibulum accumsan congue risus, in semper eros interdum id.

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row justify-content-center mt-4 mt-md-5">
            <div class="col-auto">
                <div class="alert bg-light">Still have unanswered questions? <a href="/#help" onclick="Intercom('showNewMessage', 'Hey!  I have a question for you.')">Get
                        in touch</a>
                </div>
            </div>
        </div>
    </div>
    <div class="divider divider-bottom bg-primary-3"></div>
</section> -->
<div class="row justify-content-center mt-4 mt-md-5">
    <div class="col-auto">
        <div class="alert bg-light">Still have unanswered questions? <a href="/#help" onclick="Intercom('showNewMessage', 'Hey!  I have a question for you.')">Get
                in touch</a>
        </div>
    </div>
</div>
{% endblock %}