{% extends "index.html" %} {% block title %}Sign In{% endblock %} {% block content %}

<section class="row no-gutters p-0 bg-light min-vh-100">
    <div class="col-lg-6 d-none d-lg-block order-lg-2">
        <div class="divider divider-side bg-light transform-flip-y d-none d-lg-block"></div>
        <img class="flex-fill" src="assets/img/washington-monument.jpg" alt="Washington Monument">
    </div>
    <div class="col-lg-6">
        <section class="p-0">
            <div class="container min-vh-lg-100 d-flex flex-column justify-content-between text-center py-4 py-md-5">
                <a href="/" class="fade-page">
                    <img src="assets/img/logos/pundit_analytics.svg" alt="Pundit Analytics">
                </a>
                <div class="row justify-content-center my-5">
                    <div class="col-xl-7 col-lg-8">
                        <div class="card card-body shadow text-left">
                            <h1 class="h5 text-center">Sign In</h1>
                            <div id="firebaseui-auth-container"></div>
                            <div id="loader">Loading...</div>

                        </div>
                        <div class="text-center text-small mt-3">
                            Don't have an account? <a href="/sign_up">Sign up here</a>
                        </div>
                    </div>
                </div>
                <div>
                    <a href="/" class="btn btn-sm btn-outline-primary fade-page">Back to Overview</a>
                </div>
            </div>
        </section>
    </div>
</section>


<script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-app.js"></script>

<!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
<script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-analytics.js"></script>

<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-firestore.js"></script>

<script>
    // TODO: Replace the following with your app's Firebase project configuration
    var firebaseConfig = {
        apiKey: "AIzaSyDeQwLk0D6Xai9ATFlUhExQtMKDVGuW-hA",
        authDomain: "pundit-analytics.firebaseapp.com",
        databaseURL: "https://pundit-analytics.firebaseio.com",
        projectId: "pundit-analytics",
        storageBucket: "pundit-analytics.appspot.com",
        messagingSenderId: "389691317199",
        appId: "1:389691317199:web:83de7d3daf9421f7ced0ba",
        measurementId: "G-7XWN6D7ETT"
    };

    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
</script>
<script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
<script>
    var ui = new firebaseui.auth.AuthUI(firebase.auth());
    ui.start('#firebaseui-auth-container', {
        signInOptions: [
            firebase.auth.GoogleAuthProvider.PROVIDER_ID,
            firebase.auth.FacebookAuthProvider.PROVIDER_ID,
            firebase.auth.TwitterAuthProvider.PROVIDER_ID,
            firebase.auth.GithubAuthProvider.PROVIDER_ID
        ],
        signInSuccessUrl: 'https://console.punditanalytics.com',

        callbacks: {
            signInSuccessWithAuthResult: function(authResult, redirectUrl) {
                // User successfully signed in.
                // Return type determines whether we continue the redirect automatically
                // or whether we leave that to developer to handle.
                return true;
            },
            uiShown: function() {
                // The widget is rendered.
                // Hide the loader.
                document.getElementById('loader').style.display = 'none';
            }
        }
        // Other config options...
    });
</script>

{% endblock %}