{% extends "index.html" %} {% block title %}Sign Up{% endblock %} {% block content %}

<div ng-controller="signUpController" data-overlay class="min-vh-100 bg-light d-flex flex-column justify-content-md-center o-hidden">
    <section class="py-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-lg-10 col-md-10 mb-5 mb-md-0">

                    <div class="card card-body shadow">


                        <h1 class="h5 text-center">Create Account</h1>
                        <div id="firebaseui-auth-container"></div>
                        <div id="loader">Loading...</div>
                        <div style="display:none;" id="auth_message" class="mb-3" data-aos="fade-left" data-aos-delay="300">
                            <div class="d-flex align-items-center">
                                <div class="rounded-circle bg-success-alt">
                                    <img src="assets/img/icons/interface/icon-check.svg" alt="Binoculars icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                                </div>
                                <h6 class="mb-0 ml-3">You have successfully authenticated with
                                    <div id="user_phone"></div>
                                </h6>

                            </div>
                            <div class="text-center text-small mt-3">
                                Want to sign in with another account? <a href="" ng-click="sign_out()">Click here</a>
                            </div>
                        </div>

                        <div style="display:none;" id="almost_done" class="mb-3" data-aos="fade-left" data-aos-delay="300">
                            <div class="d-flex align-items-center">
                                <div class="rounded-circle bg-info-alt">
                                    <img src="assets/img/icons/interface/icon-arrow-down.svg" alt="Binoculars icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                                </div>
                                <h6 class="mb-0 ml-3">You're almost done. You just need to fill this out:</h6>
                            </div>
                        </div>
                        <form style="display:none;" id="user_form_id" name="user_form">

                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="user.first_name" required placeholder="First Name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="user.last_name" required placeholder="Last Name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" ng-model="user.email" required placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="user.org_name" required placeholder="Organization Name">
                            </div>

                            <div class="form-group">
                                <div class="custom-control custom-checkbox text-small">
                                    <input type="checkbox" class="custom-control-input" required ng-model="user.terms_checked" id="sign-up-agree">
                                    <label class="custom-control-label" for="sign-up-agree">I agree to the <a
                                            target="_blank" href="/terms">Terms &amp; Conditions</a>
                                    </label>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block" ng-disabled="user_form.$invalid" ng-click="submit_new_user(user)">Create
                                Account</button>
                        </form>

                    </div>
                    <div class="text-center text-small mt-3">
                        Already have an account? <a href="https://console.punditanalytics.com/">Sign in
                            here</a>
                    </div>
                </div>
                <div class="col-md-6 ml-lg-5 ">

                    <div>
                        <h2>Pundit Perks:</h2>
                        <div class="mb-3" data-aos="fade-left" data-aos-delay="300">
                            <div class="d-flex align-items-center">
                                <div class="rounded-circle bg-success-alt">
                                    <img src="assets/img/icons/interface/icon-check.svg" alt="Binoculars icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                                </div>
                                <h6 class="mb-0 ml-3">Track website changes, ads, emails, and <a href="/#features">more</a>.</h6>
                            </div>
                        </div>
                        <div class="mb-3" data-aos="fade-left" data-aos-delay="400">
                            <div class="d-flex align-items-center">
                                <div class="rounded-circle bg-success-alt">
                                    <img src="assets/img/icons/interface/icon-check.svg" alt="Layouts icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                                </div>
                                <h6 class="mb-0 ml-3">View intel on all of your political targets.</h6>
                            </div>
                        </div>
                        <div class="mb-3" data-aos="fade-left" data-aos-delay="500">
                            <div class="d-flex align-items-center">
                                <div class="rounded-circle bg-success-alt">
                                    <img src="assets/img/icons/interface/icon-check.svg" alt="Box icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                                </div>
                                <h6 class="mb-0 ml-3">Take action on your intel.</h6>
                            </div>
                        </div>

                    </div>
                    <div class="card  shadow">
                        <div class="card-body ">
                            <h4>Why do I need to sign up with a phone number?</h4>
                            <p>
                                At Pundit Analytics, we enforce a <b>1-person-per-account policy</b>, which means that you can't share your account with others. Whenever you go to sign in to Pundit Analytics, you will receive a text message with a temporary
                                code that will authenticate you.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-app.js"></script>

<!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
<script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-analytics.js"></script>

<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-firestore.js"></script>

<script>
</script>
<script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />

<script src="js/sign_up.js"></script>


{% endblock %}