{% extends "index.html" %} {% block title %}Terms{% endblock %} {% block content %}

<section class="bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-9 col-md-11">
                <div class="card card-body shadow">
                    <div class="d-flex flex-column flex-sm-row justify-content-between align-items-start pb-4 mb-4 mb-md-5 border-bottom">
                        <div class="mb-3 mb-md-0">
                            <h1 class="mb-2">Terms of Service</h1>
                            <div class="lead">Updated October 7, 2019</div>
                        </div>
                    </div>
                    <article class="article">
                        <h5>Introduction:</h5>
                        <p>Pundit Today and its affiliates (&ldquo;Pundit Today,&rdquo; &ldquo;we,&rdquo; &ldquo;our,&rdquo; and/or &ldquo;us&rdquo;) value the privacy of individuals who use our website, platform, app, and related services (collectively,
                            our &ldquo;Services&rdquo;). This privacy policy (the &ldquo;Privacy Policy&rdquo;) explains how we collect, use, and share information from users of our Services (&ldquo;Users,&rdquo; &ldquo;you,&rdquo; and/or &ldquo;your&rdquo;).
                            By using our Services, you agree to the collection, use, disclosure, and procedures this Privacy Policy describes. Beyond the Privacy Policy, your use of our Services is also subject to our Terms of Service <a href="https://www.punditanalytics.com/terms">https://www.punditanalytics.com/terms</a>.</p>
                        <p><strong>&nbsp;</strong></p>
                        <p><strong>INFORMATION WE COLLECT</strong></p>
                        <p><strong>&nbsp;</strong></p>
                        <p>We may collect a variety of information from or about you or your devices from various sources, as described below.
                        </p>
                        <p>&nbsp;</p>
                        <p><strong><em>Information You Provide to Us.</em></strong></p>
                        <p><strong><em>&nbsp;</em></strong></p>
                        <p><strong>Registration and Profile Information. </strong>When you sign up for an account, we ask you for your name, username, email address, date of birth, gender, phone number, address, and zip code. You may also choose to provide
                            us with information relating to your political affiliation and upload a profile photo.</p>
                        <p>&nbsp;</p>
                        <p><strong>Communications. </strong>If you contact us directly, we may receive additional information about you. For example, when you contact our Customer Support Team, we will receive your name, email address, phone number, the
                            contents of the message and any attachments you may send to us, and any other information you choose to provide.
                        </p>
                        <p>&nbsp;</p>
                        <p><strong>User Content. </strong>Our Services are social services that enable you to find, enjoy, and share content. We may collect and store the content you post and scan your posts for hateful, malicious, or similar content to
                            protect the safety and integrity of our Services and Users.</p>
                        <p><strong>&nbsp;</strong></p>
                        <p><strong>Direct Messages. </strong>We provide features that allow you to send messages privately to other Users. When you use these features, we may collect and store your messages and information relating to them, such as who you
                            are communicating with, and scan your messages for hateful, malicious, or similar content to protect the safety and integrity of our Services and Users.</p>
                        <p>&nbsp;</p>
                        <p><strong><em>Information We Collect When You Use Our Services.</em></strong></p>
                        <p>&nbsp;</p>
                        <p><strong>Location Information. </strong>With your permission, we receive your precise location information when you use our Services. We may also collect the precise location of your device when our app is running in the background.
                            We also infer your general location, for example, by using your internet protocol (IP) address.
                        </p>
                        <p><strong>&nbsp;</strong></p>
                        <p><strong>Information from Cookies and Similar Technologies.</strong> We and third party partners collect information using cookies, pixels, and similar technologies. Our third party partners, such as advertising and analytics partners,
                            may use these technologies to collect information about your online activities over time and across different websites and online services. Cookies are small text files that contain a string of alphanumeric characters. We may
                            use both session cookies and persistent cookies. A session cookie disappears after you close your browser. A persistent cookie remains after you close your browser and may be used by your browser on subsequent visits to our
                            Services. Please review your web browser&rsquo;s &ldquo;Help&rdquo; file to learn how to modify your cookie settings. Please note that if you delete or choose not to accept cookies from our Services, you may not be able to
                            utilize them to their fullest potential.</p>
                        <p><strong>&nbsp;</strong></p>
                        <p><strong>Device Information. </strong>We automatically collect certain technical information about the device and software you use to access our Services, including your IP address, operating system version, web browser type, phone
                            carrier and manufacturer, application installations and usage, device identifiers, mobile advertising identifiers, and push notification tokens.</p>
                        <p>&nbsp;</p>
                        <p><strong>Usage Information.</strong> To help us understand how you use our Services and to help us improve them, we automatically receive information about your interactions with our Services, such as the pages you visit or content
                            you view, the searches you conduct, people you follow, purchases you make, your comments, any content you post, and the dates and times of your visit.</p>
                        <p>&nbsp;</p>
                        <p><strong>Your Contacts. </strong>If you give us permission to access the address book on your device or import your contacts from an email account associated with your account, we may access and store names and contact information
                            from your address book to facilitate invitations and social interactions that you initiate through our Services and for other purposes described in this Privacy Policy or at the time of consent or collection. We also collect
                            your contacts if you invite them to use our Services or share information or content with them from our Services.</p>
                        <p>&nbsp;</p>
                        <p><strong><em>Information We Receive from Third Parties.</em></strong></p>
                        <p><strong><em>&nbsp;</em></strong></p>
                        <p><strong>Information From Third Party Services. </strong>If you sign up using a social media account, we will receive information from those third party services, such as your email address, phone number, profile photo, and unique
                            user ID associated with those services.</p>
                        <p><strong>&nbsp;</strong></p>
                        <p><strong>Other Third Parties. </strong>We may receive additional information about you from third parties, such as analytics partners, and combine it with other information we have about you.</p>
                        <p>&nbsp;</p>
                        <p><strong>HOW WE USE THE INFORMATION WE COLLECT</strong></p>
                        <p><strong>&nbsp;</strong></p>
                        <p>We use the information we collect:</p>
                        <p>&nbsp;</p>
                        <ul>
                            <li>To provide, maintain, improve, and enhance our Services, such as by connecting you with government officials in your area;</li>
                            <li>To personalize your experience on our Services, such as by providing tailored content and recommendations;
                            </li>
                            <li>To understand and analyze how you use our Services and develop new products, services, features, and functionality;
                            </li>
                            <li>To identify and prevent hateful, malicious, or similar content on our Services;</li>
                            <li>To communicate with you, provide you with updates and other information relating to our Services, provide you with information that you request, respond to comments and questions, and otherwise provide customer support;
                            </li>
                            <li>For marketing purposes, such as developing and providing promotional materials that may be relevant, valuable, or otherwise of interest to you;</li>
                            <li>To find and prevent fraud and respond to trust and safety issues that may arise;</li>
                            <li>For compliance purposes, including enforcing our legal rights or as may be required by applicable laws and regulations or requested by any judicial process or governmental agency; and</li>
                            <li>For other purposes for which we provide specific notice at the time the information is collected.
                            </li>
                        </ul>
                        <p>&nbsp;</p>
                        <p><strong>HOW WE SHARE THE INFORMATION WE COLLECT</strong></p>
                        <p><strong>&nbsp;</strong></p>
                        <p><strong>Government Officials and Politicians. </strong>We share anonymized and/or aggregated data with government officials and politicians who subscribe to our analytics service to learn more about their constituents.
                        </p>
                        <p>&nbsp;</p>
                        <p><strong>User Content. </strong>Our Services are social services that enable you to find, enjoy, and share content. Your name, username, profile photo, and other profile information will always be viewable and searchable by other
                            users. The content you post to the Services will be displayed on the Services and viewable by other users by default. Although this content is public by default, in the &ldquo;Your Choices&rdquo; section below, we describe
                            the controls you can use to limit the sharing of certain information. We are not responsible for other users&rsquo; use of available information, so you should carefully consider whether and what to post or how you identify
                            yourself on the Services.</p>
                        <p>&nbsp;</p>
                        <p><strong>Direct Messages. </strong>We share the contents of the private messages you send with the person(s) you send them to. Please be aware that anyone you send a message to will have their own copy of the message, therefore,
                            even if you delete your copy of the message from your account, they may duplicate, store, or reshare at their own discretion.</p>
                        <p><strong>&nbsp;</strong></p>
                        <p><strong>Vendors and Service Providers. </strong>We may share any information we receive with vendors and service providers retained in connection with the provision of our Services.</p>
                        <p><strong>&nbsp;</strong></p>
                        <p><strong>Analytics Partners.</strong> We use analytics services such as Google Analytics to collect and process certain analytics data. These services may also collect information regarding your use of other websites, apps, and
                            online resources. You can learn about Google&rsquo;s practices by going to<a href="https://www.google.com/policies/privacy/partners/">
                https://www.google.com/policies/privacy/partners/</a>, and opt-out of them by downloading the Google Analytics opt-out browser add-on, available at<a href="https://tools.google.com/dlpage/gaoptout">
                https://tools.google.com/dlpage/gaoptout</a>.</p>
                        <p><strong>&nbsp;</strong></p>
                        <p><strong>Advertising Partners. </strong>We work with third party advertising partners to show you ads that we think may interest you. Some of our advertising partners are members of the Network Advertising Initiative (<a href="http://optout.networkadvertising.org/?c=1#!/">http://optout.networkadvertising.org/?c=1#!/</a>)
                            or the Digital Advertising Alliance (<a href="http://optout.aboutads.info/?c=2&amp;lang=EN">http://optout.aboutads.info/?c=2&amp;lang=EN</a>). If you do not wish to receive personalized ads, please visit their opt-out pages
                            to learn about how you may opt out of receiving web-based personalized ads from member companies. You can access any settings offered by your mobile operating system to limit ad tracking, or you can install the AppChoices mobile
                            app to learn more about how you may opt out of personalized ads in mobile apps.</p>
                        <p>&nbsp;</p>
                        <p><strong>Social Networks and Other Online Services. </strong>Our Services allow you to, upon your direction, share information with social networking services, such as Facebook, Twitter, and Instagram. You understand and agree that
                            the use of your information by any social networking websites will be governed by the privacy policies of these third party platforms and your settings on that platform. We encourage you to review their privacy policies.</p>
                        <p><strong>&nbsp;</strong></p>
                        <p><strong>As Required By Law and Similar Disclosures. </strong>We may access, preserve, and disclose your information if we believe doing so is required or appropriate to: (a) comply with law enforcement requests and legal process,
                            such as a court order or subpoena; (b) respond to your requests; or (c) protect your, our, or others&rsquo; rights, property, or safety.</p>
                        <p><strong>&nbsp;</strong></p>
                        <p><strong>Merger, Sale, or Other Asset Transfers. </strong>We may transfer your information to service providers, advisors, potential transactional partners, or other third parties in connection with the consideration, negotiation,
                            or completion of a corporate transaction in which we are acquired by or merged with another company or we sell, liquidate, or transfer all or a portion of our assets. The use of your information following any of these events
                            will be governed by the provisions of this Privacy Policy in effect at the time the applicable information was collected.</p>
                        <p>&nbsp;</p>
                        <p><strong>Consent. </strong>We may also disclose your information with your permission.</p>
                        <p><strong>&nbsp;</strong></p>
                        <p><strong>CHOICES</strong></p>
                        <p><strong>&nbsp;</strong></p>
                        <p><strong>Sharing Preferences.</strong> We provide you with settings that allow you to set your sharing preferences for content you post to the Services. As explained in the &ldquo;User Content&rdquo; section above, certain information
                            may always be publicly available to others, and other information is made publicly available to others by default. To change whether certain information is publicly viewable, you can adjust your account settings.
                        </p>
                        <p><strong>&nbsp;</strong></p>
                        <p><strong>Location Information. </strong>You can prevent your device from sharing precise location information through your device&rsquo;s operating system settings.</p>
                        <p><strong>&nbsp;</strong></p>
                        <p><strong>Marketing Communications. </strong>You can unsubscribe from our promotional emails via the link provided in the emails. Even if you opt-out of receiving promotional messages from us, you will continue to receive administrative
                            messages from us.</p>
                        <p><strong>&nbsp;</strong></p>
                        <p><strong>Contacts. &nbsp;</strong>You can prevent your device from sharing your contacts with us through your device&rsquo;s operating system settings.</p>
                        <p><strong>&nbsp;</strong></p>
                        <p><strong>THIRD PARTIES</strong></p>
                        <p><strong>&nbsp;</strong></p>
                        <p>Our Services may contain links to other websites, products, or services that we do not own or operate. We are not responsible for the privacy practices of these third parties. Please be aware that this Privacy Policy does not apply
                            to your interaction with these third parties and any information you disclose to these third parties. We encourage you to read their privacy policies before providing any information to them.</p>
                        <p><strong>&nbsp;</strong></p>
                        <p><strong>SECURITY</strong></p>
                        <p><strong>&nbsp;</strong></p>
                        <p>We make reasonable efforts to protect your information by using physical and electronic safeguards designed to improve the security of the information we maintain. However, because our Services are hosted electronically, we can
                            make no guarantees as to the security or privacy of your information.</p>
                        <p>&nbsp;</p>
                        <p><strong>CHILDREN</strong></p>
                        <p><strong>&nbsp;</strong></p>
                        <p>We do not knowingly collect, maintain, or use personal information from children under 13 years of age, and no part of our Services is directed to children. If you learn that a child has provided us with personal information in
                            violation of this Privacy Policy, please alert us at <a href="mailto:help@pundit.today">help@pundit.today</a>.</p>
                        <p>&nbsp;</p>
                        <p><strong>INTERNATIONAL VISITORS</strong></p>
                        <p><strong>&nbsp;</strong></p>
                        <p>Our Services are hosted in the United States and intended for visitors located within the United States. If you choose to use our Services from the European Union or other regions of the world with laws governing data collection
                            and use that may differ from U.S. law, please note that you are transferring your personal information outside of those regions to the United States for storage and processing. Also, we may transfer your data from the U.S.
                            to other countries or regions in connection with the storage and processing of data, fulfilling your requests, and operating our Services. By providing any information, including personal information, on or to our Services,
                            you consent to such transfer, storage, and processing.</p>
                        <p>&nbsp;</p>
                        <p><strong>ACCESS/UPDATE INFORMATION</strong></p>
                        <p><strong>&nbsp;</strong></p>
                        <p>You can update your account and profile information or delete your account through your profile settings.
                        </p>
                        <p><strong>&nbsp;</strong></p>
                        <p><strong>CHANGES TO THE PRIVACY POLICY</strong></p>
                        <p><strong>&nbsp;</strong></p>
                        <p>We will post any adjustments to the Privacy Policy on this page, and the revised version will be effective when it is posted. If we materially change the ways in which we use or share personal information previously collected from
                            you through the Services, we will notify you through the Services, by email, or other communication.
                        </p>
                        <p><strong>&nbsp;</strong></p>
                        <p><strong>CONTACT INFORMATION</strong></p>
                        <p>&nbsp;</p>
                        <p>If you have any questions, comments, or concerns about the Privacy Policy, please email us at <a href="mailto:help@pundit.today">help@pundit.today</a> or write to us at 2150 Shattuck Avenue, Berkeley, CA 94704.
                        </p>
                        <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}